.userCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 4px;
}

.userAvatar {
  width: 100%;
  border-radius: 4px;
  height: 60px;
  width: 60px;
  border-radius: 50px;
  object-fit: cover;
}

.userDetails {
  margin-top: 10px;
}

.userID,
.userEmail,
.userName {
  margin: 8px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userID {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Medium screen responsiveness */
@media (max-width: 768px) {
  .userCard {
    padding: 1.5rem;
  }

  .userAvatar {
    width: 80px;
    height: 80px;
  }

  .userID,
  .userEmail,
  .userName {
    font-size: 1rem;
  }
}

/* Small screen responsiveness */
@media (max-width: 480px) {
  .userCard {
    padding: 2rem;
  }

  .userAvatar {
    width: 90px;
    height: 90px;
  }

  .userID,
  .userEmail,
  .userName {
    font-size: 1.5rem;
  }
}
